footer {
  position: fixed;
  bottom: 0;
  height: 18px;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 98%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  border-radius: 12px;
  align-items: stretch;
  overflow: hidden;
}

.card-category {
  color: var(--grey);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card-title {
  font-family: "Fraunces";
  line-height: 1;
  font-weight: 700;
  font-size: 2.5rem;
}

.card-content {
  width: 100%;
  margin: 30px auto;
  display: flex;
  align-items: center;
}

.card-content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
  gap: 25px;
}

.card-img {
  width: 100%;
}

.card-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-desc {
  color: var(--grey);
  line-height: 1.65;
  font-weight: 500;
}

.card-price {
  font-family: "Fraunces";
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

.principal-price {
  color: var(--green-500);
  font-weight: 700;
  font-size: xx-large;
}

.second-price {
  text-decoration: line-through;
  color: var(--grey);
}

.card-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: var(--green-500);
  border-radius: 10px;
}

a {
  color: var(--white);
  text-decoration: none;
}

.card-cta:hover {
  transition: 0.5s ease;
  background-color: var(--green-700);
}

@media (max-width: 412px) {
  .card {
    flex-direction: column;
  }

  /* body {
    font-size: 12px;
  } */
}
